In [2]:
# imports
import pandas as pd

In [1]:
# raw data filename
data_file = '../data/raw/KaggleV2-May-2016.csv'

In [3]:
df_raw = pd.read_csv(data_file)

In [4]:
# Basic dataframe info
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
PatientId         110527 non-null float64
AppointmentID     110527 non-null int64
Gender            110527 non-null object
ScheduledDay      110527 non-null object
AppointmentDay    110527 non-null object
Age               110527 non-null int64
Neighbourhood     110527 non-null object
Scholarship       110527 non-null int64
Hipertension      110527 non-null int64
Diabetes          110527 non-null int64
Alcoholism        110527 non-null int64
Handcap           110527 non-null int64
SMS_received      110527 non-null int64
No-show           110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [5]:
# Describe
df_raw.describe()

,PatientId,AppointmentID,Age,Scholarship,Hipertension,Diabetes,Alcoholism,Handcap,SMS_received
count,1.105270e+05,1.105270e+05,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000,110527.000000
mean,1.474963e+14,5.675305e+06,37.088874,0.098266,0.197246,0.071865,0.030400,0.022248,0.321026
std,2.560949e+14,7.129575e+04,23.110205,0.297675,0.397921,0.258265,0.171686,0.161543,0.466873
min,3.921784e+04,5.030230e+06,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.172614e+12,5.640286e+06,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.173184e+13,5.680573e+06,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,9.439172e+13,5.725524e+06,55.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,9.999816e+14,5.790484e+06,115.000000,1.000000,1.000000,1.000000,1.000000,4.000000,1.000000

In [7]:
df_raw['PatientId'].value_counts()

8.221459e+14    88
9.963767e+10    84
2.688613e+13    70
3.353478e+13    65
2.584244e+11    62
7.579746e+13    62
8.713749e+14    62
6.264199e+12    62
6.684488e+13    57
8.722785e+11    55
8.923969e+13    54
8.435224e+09    51
8.534397e+14    50
1.447997e+13    46
6.543360e+13    46
8.189452e+13    42
9.452745e+12    42
1.882323e+14    40
9.496197e+12    38
2.271580e+12    38
1.336493e+13    37
1.484143e+12    35
8.883500e+13    34
9.861628e+14    34
7.124589e+14    33
4.167557e+14    30
6.128878e+12    30
8.121397e+13    29
8.634164e+12    24
3.699499e+13    23
                ..
6.375629e+12     1
9.369127e+12     1
5.375556e+14     1
1.662184e+11     1
7.234615e+13     1
9.649990e+12     1
6.912783e+10     1
1.954265e+13     1
2.736377e+10     1
5.532694e+11     1
7.149583e+12     1
8.676752e+13     1
7.838359e+13     1
5.962625e+11     1
4.919862e+13     1
3.477350e+14     1
1.626595e+13     1
7.794917e+12     1
1.161950e+13     1
5.615364e+14     1
4.355592e+11     1
1.321328e+12     1
1.751987e+13     1
4.262579e+13     1
3.115681e+13     1
1.222828e+13     1
6.821231e+11     1
7.163981e+14     1
9.798964e+14     1
2.724571e+11     1
Name: PatientId, Length: 62299, dtype: int64

In [10]:
df_raw['AppointmentID'].value_counts()

5769215    1
5731652    1
5707080    1
5702986    1
5715276    1
5717325    1
5711182    1
5758289    1
5762391    1
5741913    1
5483871    1
5660001    1
5653858    1
5666148    1
5668197    1
5641576    1
5639531    1
5649772    1
5645678    1
5647727    1
5692785    1
5686642    1
5694838    1
5696887    1
5674360    1
5733701    1
5651786    1
5672315    1
5719362    1
5672187    1
          ..
5744033    1
5748131    1
5739943    1
5672324    1
5682563    1
5680512    1
5782866    1
5496110    1
5713200    1
5711153    1
5717298    1
5709110    1
5707063    1
5729592    1
5463358    1
5565768    1
5776721    1
5789023    1
5590396    1
5606756    1
5608807    1
5635434    1
5621101    1
5686470    1
5582192    1
5586290    1
5584243    1
5598584    1
5602682    1
5771266    1
Name: AppointmentID, Length: 110527, dtype: int64

In [12]:
df_raw.groupby(['PatientId', 'AppointmentDay']).count()

                                   AppointmentID  Gender  ScheduledDay  Age  \
PatientId    AppointmentDay
3.921784e+04 2016-06-03T00:00:00Z              1       1             1    1
4.374176e+04 2016-06-01T00:00:00Z              1       1             1    1
9.377953e+04 2016-05-18T00:00:00Z              1       1             1    1
1.417242e+05 2016-05-02T00:00:00Z              1       1             1    1
5.376153e+05 2016-05-06T00:00:00Z              1       1             1    1
5.628261e+06 2016-05-13T00:00:00Z              1       1             1    1
1.183186e+07 2016-05-19T00:00:00Z              1       1             1    1
2.263866e+07 2016-05-03T00:00:00Z              1       1             1    1
             2016-06-08T00:00:00Z              1       1             1    1
5.216894e+07 2016-05-16T00:00:00Z              1       1             1    1
             2016-05-17T00:00:00Z              1       1             1    1
5.422400e+07 2016-05-11T00:00:00Z              1       1             1    1
6.143378e+07 2016-06-02T00:00:00Z              1       1             1    1
6.249793e+07 2016-05-11T00:00:00Z              1       1             1    1
6.485121e+07 2016-05-13T00:00:00Z              1       1             1    1
             2016-05-17T00:00:00Z              1       1             1    1
7.838548e+07 2016-05-02T00:00:00Z              1       1             1    1
7.922850e+07 2016-05-30T00:00:00Z              1       1             1    1
             2016-06-08T00:00:00Z              1       1             1    1
8.658474e+07 2016-05-13T00:00:00Z              1       1             1    1
8.799645e+07 2016-05-13T00:00:00Z              1       1             1    1
             2016-06-08T00:00:00Z              1       1             1    1
9.531312e+07 2016-05-04T00:00:00Z              1       1             1    1
9.951243e+07 2016-05-13T00:00:00Z              1       1             1    1
1.224513e+08 2016-05-02T00:00:00Z              1       1             1    1
             2016-05-09T00:00:00Z              1       1             1    1
1.328182e+08 2016-05-10T00:00:00Z              1       1             1    1
1.421333e+08 2016-05-16T00:00:00Z              1       1             1    1
             2016-06-07T00:00:00Z              1       1             1    1
1.562232e+08 2016-05-13T00:00:00Z              1       1             1    1
...                                          ...     ...           ...  ...
9.994717e+14 2016-05-12T00:00:00Z              1       1             1    1
             2016-05-19T00:00:00Z              1       1             1    1
             2016-06-06T00:00:00Z              1       1             1    1
9.994792e+14 2016-05-02T00:00:00Z              1       1             1    1
             2016-05-09T00:00:00Z              1       1             1    1
             2016-05-30T00:00:00Z              1       1             1    1
9.996275e+14 2016-05-09T00:00:00Z              1       1             1    1
             2016-05-16T00:00:00Z              2       2             2    2
             2016-05-30T00:00:00Z              1       1             1    1
9.996380e+14 2016-05-12T00:00:00Z              1       1             1    1
9.996585e+14 2016-05-02T00:00:00Z              1       1             1    1
9.997437e+14 2016-06-03T00:00:00Z              1       1             1    1
             2016-06-08T00:00:00Z              1       1             1    1
9.997482e+14 2016-05-17T00:00:00Z              1       1             1    1
9.998194e+14 2016-05-04T00:00:00Z              1       1             1    1
9.998318e+14 2016-05-02T00:00:00Z              1       1             1    1
             2016-05-06T00:00:00Z              1       1             1    1
             2016-05-10T00:00:00Z              1       1             1    1
             2016-05-18T00:00:00Z              1       1             1    1
9.998774e+14 2016-05-05T00:00:00Z              1       1             1    1
             2016-06-06T00:00:00Z              1       1             1    1
9.999275e+14 2016-05-24T00:00:00Z              1       1             1    1
9.999320e+14 2016-05-04T00:00:00Z              1       1             1    1
             2016-05-17T00:00:00Z              2       2             2    2
             2016-05-25T00:00:00Z              1       1             1    1
             2016-06-07T00:00:00Z              1       1             1    1
9.999350e+14 2016-04-29T00:00:00Z              1       1             1    1
9.999465e+14 2016-05-03T00:00:00Z              1       1             1    1
9.999686e+14 2016-05-25T00:00:00Z              1       1             1    1
9.999816e+14 2016-05-05T00:00:00Z              1       1             1    1

                                   Neighbourhood  Scholarship  Hipertension  \
PatientId    AppointmentDay
3.921784e+04 2016-06-03T00:00:00Z              1            1             1
4.374176e+04 2016-06-01T00:00:00Z              1            1             1
9.377953e+04 2016-05-18T00:00:00Z              1            1             1
1.417242e+05 2016-05-02T00:00:00Z              1            1             1
5.376153e+05 2016-05-06T00:00:00Z              1            1             1
5.628261e+06 2016-05-13T00:00:00Z              1            1             1
1.183186e+07 2016-05-19T00:00:00Z              1            1             1
2.263866e+07 2016-05-03T00:00:00Z              1            1             1
             2016-06-08T00:00:00Z              1            1             1
5.216894e+07 2016-05-16T00:00:00Z              1            1             1
             2016-05-17T00:00:00Z              1            1             1
5.422400e+07 2016-05-11T00:00:00Z              1            1             1
6.143378e+07 2016-06-02T00:00:00Z              1            1             1
6.249793e+07 2016-05-11T00:00:00Z              1            1             1
6.485121e+07 2016-05-13T00:00:00Z              1            1             1
             2016-05-17T00:00:00Z              1            1             1
7.838548e+07 2016-05-02T00:00:00Z              1            1             1
7.922850e+07 2016-05-30T00:00:00Z              1            1             1
             2016-06-08T00:00:00Z              1            1             1
8.658474e+07 2016-05-13T00:00:00Z              1            1             1
8.799645e+07 2016-05-13T00:00:00Z              1            1             1
             2016-06-08T00:00:00Z              1            1             1
9.531312e+07 2016-05-04T00:00:00Z              1            1             1
9.951243e+07 2016-05-13T00:00:00Z              1            1             1
1.224513e+08 2016-05-02T00:00:00Z              1            1             1
             2016-05-09T00:00:00Z              1            1             1
1.328182e+08 2016-05-10T00:00:00Z              1            1             1
1.421333e+08 2016-05-16T00:00:00Z              1            1             1
             2016-06-07T00:00:00Z              1            1             1
1.562232e+08 2016-05-13T00:00:00Z              1            1             1
...                                          ...          ...           ...
9.994717e+14 2016-05-12T00:00:00Z              1            1             1
             2016-05-19T00:00:00Z              1            1             1
             2016-06-06T00:00:00Z              1            1             1
9.994792e+14 2016-05-02T00:00:00Z              1            1             1
             2016-05-09T00:00:00Z              1            1             1
             2016-05-30T00:00:00Z              1            1             1
9.996275e+14 2016-05-09T00:00:00Z              1            1             1
             2016-05-16T00:00:00Z              2            2             2
             2016-05-30T00:00:00Z              1            1             1
9.996380e+14 2016-05-12T00:00:00Z              1            1             1
9.996585e+14 2016-05-02T00:00:00Z              1            1             1
9.997437e+14 2016-06-03T00:00:00Z              1            1             1
             2016-06-08T00:00:00Z              1            1             1
9.997482e+14 2016-05-17T00:00:00Z              1            1             1
9.998194e+14 2016-05-04T00:00:00Z              1            1             1
9.998318e+14 2016-05-02T00:00:00Z              1            1             1
             2016-05-06T00:00:00Z              1            1             1
             2016-05-10T00:00:00Z              1            1             1
             2016-05-18T00:00:00Z              1            1             1
9.998774e+14 2016-05-05T00:00:00Z              1            1             1
             2016-06-06T00:00:00Z              1            1             1
9.999275e+14 2016-05-24T00:00:00Z              1            1             1
9.999320e+14 2016-05-04T00:00:00Z              1            1             1
             2016-05-17T00:00:00Z              2            2             2
             2016-05-25T00:00:00Z              1            1             1
             2016-06-07T00:00:00Z              1            1             1
9.999350e+14 2016-04-29T00:00:00Z              1            1             1
9.999465e+14 2016-05-03T00:00:00Z              1            1             1
9.999686e+14 2016-05-25T00:00:00Z              1            1             1
9.999816e+14 2016-05-05T00:00:00Z              1            1             1

                                   Diabetes  Alcoholism  Handcap  \
PatientId    AppointmentDay
3.921784e+04 2016-06-03T00:00:00Z         1           1        1
4.374176e+04 2016-06-01T00:00:00Z         1           1        1
9.377953e+04 2016-05-18T00:00:00Z         1           1        1
1.417242e+05 2016-05-02T00:00:00Z         1           1        1
5.376153e+05 2016-05-06T00:00:00Z         1           1        1
5.628261e+06 2016-05-13T00:00:00Z         1           1        1
1.183186e+07 2016-05-19T00:00:00Z         1           1        1
2.263866e+07 2016-05-03T00:00:00Z         1           1        1
             2016-06-08T00:00:00Z         1           1        1
5.216894e+07 2016-05-16T00:00:00Z         1           1        1
             2016-05-17T00:00:00Z         1           1        1
5.422400e+07 2016-05-11T00:00:00Z         1           1        1
6.143378e+07 2016-06-02T00:00:00Z         1           1        1
6.249793e+07 2016-05-11T00:00:00Z         1           1        1
6.485121e+07 2016-05-13T00:00:00Z         1           1        1
             2016-05-17T00:00:00Z         1           1        1
7.838548e+07 2016-05-02T00:00:00Z         1           1        1
7.922850e+07 2016-05-30T00:00:00Z         1           1        1
             2016-06-08T00:00:00Z         1           1        1
8.658474e+07 2016-05-13T00:00:00Z         1           1        1
8.799645e+07 2016-05-13T00:00:00Z         1           1        1
             2016-06-08T00:00:00Z         1           1        1
9.531312e+07 2016-05-04T00:00:00Z         1           1        1
9.951243e+07 2016-05-13T00:00:00Z         1           1        1
1.224513e+08 2016-05-02T00:00:00Z         1           1        1
             2016-05-09T00:00:00Z         1           1        1
1.328182e+08 2016-05-10T00:00:00Z         1           1        1
1.421333e+08 2016-05-16T00:00:00Z         1           1        1
             2016-06-07T00:00:00Z         1           1        1
1.562232e+08 2016-05-13T00:00:00Z         1           1        1
...                                     ...         ...      ...
9.994717e+14 2016-05-12T00:00:00Z         1           1        1
             2016-05-19T00:00:00Z         1           1        1
             2016-06-06T00:00:00Z         1           1        1
9.994792e+14 2016-05-02T00:00:00Z         1           1        1
             2016-05-09T00:00:00Z         1           1        1
             2016-05-30T00:00:00Z         1           1        1
9.996275e+14 2016-05-09T00:00:00Z         1           1        1
             2016-05-16T00:00:00Z         2           2        2
             2016-05-30T00:00:00Z         1           1        1
9.996380e+14 2016-05-12T00:00:00Z         1           1        1
9.996585e+14 2016-05-02T00:00:00Z         1           1        1
9.997437e+14 2016-06-03T00:00:00Z         1           1        1
             2016-06-08T00:00:00Z         1           1        1
9.997482e+14 2016-05-17T00:00:00Z         1           1        1
9.998194e+14 2016-05-04T00:00:00Z         1           1        1
9.998318e+14 2016-05-02T00:00:00Z         1           1        1
             2016-05-06T00:00:00Z         1           1        1
             2016-05-10T00:00:00Z         1           1        1
             2016-05-18T00:00:00Z         1           1        1
9.998774e+14 2016-05-05T00:00:00Z         1           1        1
             2016-06-06T00:00:00Z         1           1        1
9.999275e+14 2016-05-24T00:00:00Z         1           1        1
9.999320e+14 2016-05-04T00:00:00Z         1           1        1
             2016-05-17T00:00:00Z         2           2        2
             2016-05-25T00:00:00Z         1           1        1
             2016-06-07T00:00:00Z         1           1        1
9.999350e+14 2016-04-29T00:00:00Z         1           1        1
9.999465e+14 2016-05-03T00:00:00Z         1           1        1
9.999686e+14 2016-05-25T00:00:00Z         1           1        1
9.999816e+14 2016-05-05T00:00:00Z         1           1        1

                                   SMS_received  No-show
PatientId    AppointmentDay
3.921784e+04 2016-06-03T00:00:00Z             1        1
4.374176e+04 2016-06-01T00:00:00Z             1        1
9.377953e+04 2016-05-18T00:00:00Z             1        1
1.417242e+05 2016-05-02T00:00:00Z             1        1
5.376153e+05 2016-05-06T00:00:00Z             1        1
5.628261e+06 2016-05-13T00:00:00Z             1        1
1.183186e+07 2016-05-19T00:00:00Z             1        1
2.263866e+07 2016-05-03T00:00:00Z             1        1
             2016-06-08T00:00:00Z             1        1
5.216894e+07 2016-05-16T00:00:00Z             1        1
             2016-05-17T00:00:00Z             1        1
5.422400e+07 2016-05-11T00:00:00Z             1        1
6.143378e+07 2016-06-02T00:00:00Z             1        1
6.249793e+07 2016-05-11T00:00:00Z             1        1
6.485121e+07 2016-05-13T00:00:00Z             1        1
             2016-05-17T00:00:00Z             1        1
7.838548e+07 2016-05-02T00:00:00Z             1        1
7.922850e+07 2016-05-30T00:00:00Z             1        1
             2016-06-08T00:00:00Z             1        1
8.658474e+07 2016-05-13T00:00:00Z             1        1
8.799645e+07 2016-05-13T00:00:00Z             1        1
             2016-06-08T00:00:00Z             1        1
9.531312e+07 2016-05-04T00:00:00Z             1        1
9.951243e+07 2016-05-13T00:00:00Z             1        1
1.224513e+08 2016-05-02T00:00:00Z             1        1
             2016-05-09T00:00:00Z             1        1
1.328182e+08 2016-05-10T00:00:00Z             1        1
1.421333e+08 2016-05-16T00:00:00Z             1        1
             2016-06-07T00:00:00Z             1        1
1.562232e+08 2016-05-13T00:00:00Z             1        1
...                                         ...      ...
9.994717e+14 2016-05-12T00:00:00Z             1        1
             2016-05-19T00:00:00Z             1        1
             2016-06-06T00:00:00Z             1        1
9.994792e+14 2016-05-02T00:00:00Z             1        1
             2016-05-09T00:00:00Z             1        1
             2016-05-30T00:00:00Z             1        1
9.996275e+14 2016-05-09T00:00:00Z             1        1
             2016-05-16T00:00:00Z             2        2
             2016-05-30T00:00:00Z             1        1
9.996380e+14 2016-05-12T00:00:00Z             1        1
9.996585e+14 2016-05-02T00:00:00Z             1        1
9.997437e+14 2016-06-03T00:00:00Z             1        1
             2016-06-08T00:00:00Z             1        1
9.997482e+14 2016-05-17T00:00:00Z             1        1
9.998194e+14 2016-05-04T00:00:00Z             1        1
9.998318e+14 2016-05-02T00:00:00Z             1        1
             2016-05-06T00:00:00Z             1        1
             2016-05-10T00:00:00Z             1        1
             2016-05-18T00:00:00Z             1        1
9.998774e+14 2016-05-05T00:00:00Z             1        1
             2016-06-06T00:00:00Z             1        1
9.999275e+14 2016-05-24T00:00:00Z             1        1
9.999320e+14 2016-05-04T00:00:00Z             1        1
             2016-05-17T00:00:00Z             2        2
             2016-05-25T00:00:00Z             1        1
             2016-06-07T00:00:00Z             1        1
9.999350e+14 2016-04-29T00:00:00Z             1        1
9.999465e+14 2016-05-03T00:00:00Z             1        1
9.999686e+14 2016-05-25T00:00:00Z             1        1
9.999816e+14 2016-05-05T00:00:00Z             1        1

[101808 rows x 12 columns]

In [13]:
df_raw['AppointmentDay']

0         2016-04-29T00:00:00Z
1         2016-04-29T00:00:00Z
2         2016-04-29T00:00:00Z
3         2016-04-29T00:00:00Z
4         2016-04-29T00:00:00Z
5         2016-04-29T00:00:00Z
6         2016-04-29T00:00:00Z
7         2016-04-29T00:00:00Z
8         2016-04-29T00:00:00Z
9         2016-04-29T00:00:00Z
10        2016-04-29T00:00:00Z
11        2016-04-29T00:00:00Z
12        2016-04-29T00:00:00Z
13        2016-04-29T00:00:00Z
14        2016-04-29T00:00:00Z
15        2016-04-29T00:00:00Z
16        2016-04-29T00:00:00Z
17        2016-04-29T00:00:00Z
18        2016-04-29T00:00:00Z
19        2016-04-29T00:00:00Z
20        2016-04-29T00:00:00Z
21        2016-04-29T00:00:00Z
22        2016-04-29T00:00:00Z
23        2016-04-29T00:00:00Z
24        2016-04-29T00:00:00Z
25        2016-04-29T00:00:00Z
26        2016-04-29T00:00:00Z
27        2016-04-29T00:00:00Z
28        2016-04-29T00:00:00Z
29        2016-04-29T00:00:00Z
                  ...
110497    2016-06-01T00:00:00Z
110498    2016-06-08T00:00:00Z
110499    2016-06-01T00:00:00Z
110500    2016-06-08T00:00:00Z
110501    2016-06-01T00:00:00Z
110502    2016-06-08T00:00:00Z
110503    2016-06-01T00:00:00Z
110504    2016-06-08T00:00:00Z
110505    2016-06-01T00:00:00Z
110506    2016-06-01T00:00:00Z
110507    2016-06-08T00:00:00Z
110508    2016-06-01T00:00:00Z
110509    2016-06-08T00:00:00Z
110510    2016-06-01T00:00:00Z
110511    2016-06-08T00:00:00Z
110512    2016-06-08T00:00:00Z
110513    2016-06-08T00:00:00Z
110514    2016-06-08T00:00:00Z
110515    2016-06-08T00:00:00Z
110516    2016-06-08T00:00:00Z
110517    2016-06-07T00:00:00Z
110518    2016-06-07T00:00:00Z
110519    2016-06-07T00:00:00Z
110520    2016-06-07T00:00:00Z
110521    2016-06-07T00:00:00Z
110522    2016-06-07T00:00:00Z
110523    2016-06-07T00:00:00Z
110524    2016-06-07T00:00:00Z
110525    2016-06-07T00:00:00Z
110526    2016-06-07T00:00:00Z
Name: AppointmentDay, Length: 110527, dtype: object

In [14]:
help(pd.to_datetime)

Help on function to_datetime in module pandas.core.tools.datetimes:

to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, box=True, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix')
    Convert argument to datetime.

    Parameters
    ----------
    arg : integer, float, string, datetime, list, tuple, 1-d array, Series

        .. versionadded: 0.18.1

           or DataFrame/dict-like

    errors : {'ignore', 'raise', 'coerce'}, default 'raise'

        - If 'raise', then invalid parsing will raise an exception
        - If 'coerce', then invalid parsing will be set as NaT
        - If 'ignore', then invalid parsing will return the input
    dayfirst : boolean, default False
        Specify a date parse order if `arg` is str or its list-likes.
        If True, parses dates with the day first, eg 10/11/12 is parsed as
        2012-11-10.
        Warning: dayfirst=True is not strict, but will prefer to parse
        with day first (this is a known bug, based on dateutil behavior).
    yearfirst : boolean, default False
        Specify a date parse order if `arg` is str or its list-likes.

        - If True parses dates with the year first, eg 10/11/12 is parsed as
          2010-11-12.
        - If both dayfirst and yearfirst are True, yearfirst is preceded (same
          as dateutil).

        Warning: yearfirst=True is not strict, but will prefer to parse
        with year first (this is a known bug, based on dateutil beahavior).

        .. versionadded: 0.16.1

    utc : boolean, default None
        Return UTC DatetimeIndex if True (converting any tz-aware
        datetime.datetime objects as well).
    box : boolean, default True

        - If True returns a DatetimeIndex
        - If False returns ndarray of values.
    format : string, default None
        strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
        all the way up to nanoseconds.
    exact : boolean, True by default

        - If True, require an exact format match.
        - If False, allow the format to match anywhere in the target string.

    unit : string, default 'ns'
        unit of the arg (D,s,ms,us,ns) denote the unit, which is an
        integer or float number. This will be based off the origin.
        Example, with unit='ms' and origin='unix' (the default), this
        would calculate the number of milliseconds to the unix epoch start.
    infer_datetime_format : boolean, default False
        If True and no `format` is given, attempt to infer the format of the
        datetime strings, and if it can be inferred, switch to a faster
        method of parsing them. In some cases this can increase the parsing
        speed by ~5-10x.
    origin : scalar, default is 'unix'
        Define the reference date. The numeric values would be parsed as number
        of units (defined by `unit`) since this reference date.

        - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
        - If 'julian', unit must be 'D', and origin is set to beginning of
          Julian Calendar. Julian day number 0 is assigned to the day starting
          at noon on January 1, 4713 BC.
        - If Timestamp convertible, origin is set to Timestamp identified by
          origin.

        .. versionadded: 0.20.0

    Returns
    -------
    ret : datetime if parsing succeeded.
        Return type depends on input:

        - list-like: DatetimeIndex
        - Series: Series of datetime64 dtype
        - scalar: Timestamp

        In case when it is not possible to return designated types (e.g. when
        any element of input is before Timestamp.min or after Timestamp.max)
        return will have datetime.datetime type (or correspoding array/Series).

    Examples
    --------

    Assembling a datetime from multiple columns of a DataFrame. The keys can be
    common abbreviations like ['year', 'month', 'day', 'minute', 'second',
    'ms', 'us', 'ns']) or plurals of the same

    >>> df = pd.DataFrame({'year': [2015, 2016],
                           'month': [2, 3],
                           'day': [4, 5]})
    >>> pd.to_datetime(df)
    0   2015-02-04
    1   2016-03-05
    dtype: datetime64[ns]

    If a date does not meet the `timestamp limitations
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html
    #timeseries-timestamp-limits>`_, passing errors='ignore'
    will return the original input instead of raising any exception.

    Passing errors='coerce' will force an out-of-bounds date to NaT,
    in addition to forcing non-dates (or non-parseable dates) to NaT.

    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
    datetime.datetime(1300, 1, 1, 0, 0)
    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
    NaT

    Passing infer_datetime_format=True can often-times speedup a parsing
    if its not an ISO8601 format exactly, but in a regular format.

    >>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

    >>> s.head()
    0    3/11/2000
    1    3/12/2000
    2    3/13/2000
    3    3/11/2000
    4    3/12/2000
    dtype: object

    >>> %timeit pd.to_datetime(s,infer_datetime_format=True)
    100 loops, best of 3: 10.4 ms per loop

    >>> %timeit pd.to_datetime(s,infer_datetime_format=False)
    1 loop, best of 3: 471 ms per loop

    Using a unix epoch time

    >>> pd.to_datetime(1490195805, unit='s')
    Timestamp('2017-03-22 15:16:45')
    >>> pd.to_datetime(1490195805433502912, unit='ns')
    Timestamp('2017-03-22 15:16:45.433502912')

    .. warning:: For float arg, precision rounding might happen. To prevent
        unexpected behavior use a fixed-width exact type.

    Using a non-unix epoch origin

    >>> pd.to_datetime([1, 2, 3], unit='D',
                       origin=pd.Timestamp('1960-01-01'))
    0    1960-01-02
    1    1960-01-03
    2    1960-01-04

    See also
    --------
    pandas.DataFrame.astype : Cast argument to a specified dtype.
    pandas.to_timedelta : Convert argument to timedelta.

In [15]:
pd.to_datetime(df_raw['AppointmentDay'])

0        2016-04-29
1        2016-04-29
2        2016-04-29
3        2016-04-29
4        2016-04-29
5        2016-04-29
6        2016-04-29
7        2016-04-29
8        2016-04-29
9        2016-04-29
10       2016-04-29
11       2016-04-29
12       2016-04-29
13       2016-04-29
14       2016-04-29
15       2016-04-29
16       2016-04-29
17       2016-04-29
18       2016-04-29
19       2016-04-29
20       2016-04-29
21       2016-04-29
22       2016-04-29
23       2016-04-29
24       2016-04-29
25       2016-04-29
26       2016-04-29
27       2016-04-29
28       2016-04-29
29       2016-04-29
            ...
110497   2016-06-01
110498   2016-06-08
110499   2016-06-01
110500   2016-06-08
110501   2016-06-01
110502   2016-06-08
110503   2016-06-01
110504   2016-06-08
110505   2016-06-01
110506   2016-06-01
110507   2016-06-08
110508   2016-06-01
110509   2016-06-08
110510   2016-06-01
110511   2016-06-08
110512   2016-06-08
110513   2016-06-08
110514   2016-06-08
110515   2016-06-08
110516   2016-06-08
110517   2016-06-07
110518   2016-06-07
110519   2016-06-07
110520   2016-06-07
110521   2016-06-07
110522   2016-06-07
110523   2016-06-07
110524   2016-06-07
110525   2016-06-07
110526   2016-06-07
Name: AppointmentDay, Length: 110527, dtype: datetime64[ns]