# Data Wrangling for Capstone Project 1

1. Load data into pandas DataFrame
2. Rename columns
3. Convert data types (dates)
4. Set AppointmentID as index

In [13]:
# imports
import pandas as pd
import matplotlib.pyplot as plt

## Importing Data

In [14]:
# import raw data into DataFrame
df_import = pd.read_csv('../data/raw/KaggleV2-May-2016.csv')

In [15]:
# Examine columns
df_import.columns

Index(['PatientId', 'AppointmentID', 'Gender', 'ScheduledDay',
       'AppointmentDay', 'Age', 'Neighbourhood', 'Scholarship', 'Hipertension',
       'Diabetes', 'Alcoholism', 'Handcap', 'SMS_received', 'No-show'],
      dtype='object')

In [16]:
# Rename columns
df_import.columns = ['Patient_ID',
                  'Appointment_ID',
                  'Gender',
                  'Scheduled_Date',
                  'Appointment_Date',
                  'Age',
                  'Neighborhood',
                  'Welfare',
                  'Hypertension',
                  'Diabetes',
                  'Alcoholism',
                  'Disability',
                  'SMS_sent',
                  'No_show']

In [17]:
# Examine Data Types
df_import.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
Patient_ID          110527 non-null float64
Appointment_ID      110527 non-null int64
Gender              110527 non-null object
Scheduled_Date      110527 non-null object
Appointment_Date    110527 non-null object
Age                 110527 non-null int64
Neighborhood        110527 non-null object
Welfare             110527 non-null int64
Hypertension        110527 non-null int64
Diabetes            110527 non-null int64
Alcoholism          110527 non-null int64
Disability          110527 non-null int64
SMS_sent            110527 non-null int64
No_show             110527 non-null object
dtypes: float64(1), int64(8), object(5)
memory usage: 11.8+ MB

In [18]:
# Convert Scheduled_Date to DateTime
df_import['Scheduled_Date'] = pd.to_datetime(df_import['Scheduled_Date'])

In [19]:
# Convert Appointment_Date to DateTime
df_import['Appointment_Date'] = pd.to_datetime(df_import['Appointment_Date'])

In [20]:
# Set index to Appointment_ID (unique)
df_import.set_index('Appointment_ID')

,Patient_ID,Gender,Scheduled_Date,Appointment_Date,Age,Neighborhood,Welfare,Hypertension,Diabetes,Alcoholism,Disability,SMS_sent,No_show
Appointment_ID,,,,,,,,,,,,,
5642903,2.987250e+13,F,2016-04-29 18:38:08,2016-04-29,62,JARDIM DA PENHA,0,1,0,0,0,0,No
5642503,5.589978e+14,M,2016-04-29 16:08:27,2016-04-29,56,JARDIM DA PENHA,0,0,0,0,0,0,No
5642549,4.262962e+12,F,2016-04-29 16:19:04,2016-04-29,62,MATA DA PRAIA,0,0,0,0,0,0,No
5642828,8.679512e+11,F,2016-04-29 17:29:31,2016-04-29,8,PONTAL DE CAMBURI,0,0,0,0,0,0,No
5642494,8.841186e+12,F,2016-04-29 16:07:23,2016-04-29,56,JARDIM DA PENHA,0,1,1,0,0,0,No
5626772,9.598513e+13,F,2016-04-27 08:36:51,2016-04-29,76,REPÃšBLICA,0,1,0,0,0,0,No
5630279,7.336882e+14,F,2016-04-27 15:05:12,2016-04-29,23,GOIABEIRAS,0,0,0,0,0,0,Yes
5630575,3.449833e+12,F,2016-04-27 15:39:58,2016-04-29,39,GOIABEIRAS,0,0,0,0,0,0,Yes
5638447,5.639473e+13,F,2016-04-29 08:02:16,2016-04-29,21,ANDORINHAS,0,0,0,0,0,0,No
5629123,7.812456e+13,F,2016-04-27 12:48:25,2016-04-29,19,CONQUISTA,0,0,0,0,0,0,No
5630213,7.345362e+14,F,2016-04-27 14:58:11,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,No
5620163,7.542951e+12,M,2016-04-26 08:44:12,2016-04-29,29,NOVA PALESTINA,0,0,0,0,0,1,Yes
5634718,5.666548e+14,F,2016-04-28 11:33:51,2016-04-29,22,NOVA PALESTINA,1,0,0,0,0,0,No
5636249,9.113946e+14,M,2016-04-28 14:52:07,2016-04-29,28,NOVA PALESTINA,0,0,0,0,0,0,No
5633951,9.988472e+13,F,2016-04-28 10:06:24,2016-04-29,54,NOVA PALESTINA,0,0,0,0,0,0,No
5620206,9.994839e+10,F,2016-04-26 08:47:27,2016-04-29,15,NOVA PALESTINA,0,0,0,0,0,1,No
5633121,8.457439e+13,M,2016-04-28 08:51:47,2016-04-29,50,NOVA PALESTINA,0,0,0,0,0,0,No
5633460,1.479497e+13,F,2016-04-28 09:28:57,2016-04-29,40,CONQUISTA,1,0,0,0,0,0,Yes
5621836,1.713538e+13,F,2016-04-26 10:54:18,2016-04-29,30,NOVA PALESTINA,1,0,0,0,0,1,No
5640433,7.223289e+12,F,2016-04-29 10:43:14,2016-04-29,46,DA PENHA,0,0,0,0,0,0,No
5626083,6.222575e+14,F,2016-04-27 07:51:14,2016-04-29,30,NOVA PALESTINA,0,0,0,0,0,0,Yes
5628338,1.215484e+13,F,2016-04-27 10:50:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,Yes
5616091,8.632298e+14,M,2016-04-25 13:29:16,2016-04-29,13,CONQUISTA,0,0,0,0,0,1,Yes
5634142,2.137540e+14,F,2016-04-28 10:27:05,2016-04-29,46,CONQUISTA,0,0,0,0,0,0,No
5641780,8.734858e+12,F,2016-04-29 14:19:19,2016-04-29,65,TABUAZEIRO,0,0,0,0,0,0,No
5624020,5.819370e+12,M,2016-04-26 15:04:17,2016-04-29,46,CONQUISTA,0,1,0,0,0,1,No
5641781,2.578785e+10,F,2016-04-29 14:19:42,2016-04-29,45,BENTO FERREIRA,0,1,0,0,0,0,No
5628345,1.215484e+13,F,2016-04-27 10:51:45,2016-04-29,4,CONQUISTA,0,0,0,0,0,0,No
5642400,5.926172e+12,M,2016-04-29 15:48:02,2016-04-29,51,SÃƒO PEDRO,0,0,0,0,0,0,No
5642186,1.225776e+12,F,2016-04-29 15:16:29,2016-04-29,32,SANTA MARTHA,0,0,0,0,0,0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5757745,7.935892e+14,M,2016-06-01 09:46:33,2016-06-01,76,MARIA ORTIZ,0,0,0,0,0,0,No
5787655,9.433654e+13,F,2016-06-08 10:21:14,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,No
5757697,8.219692e+14,F,2016-06-01 09:42:56,2016-06-01,66,MARIA ORTIZ,0,1,1,0,0,0,No
5787233,4.434384e+14,F,2016-06-08 09:35:13,2016-06-08,59,MARIA ORTIZ,0,0,0,0,0,0,No
5758133,4.544252e+11,M,2016-06-01 10:19:12,2016-06-01,44,MARIA ORTIZ,0,0,0,0,0,0,No
5787937,7.316229e+14,F,2016-06-08 10:50:42,2016-06-08,22,GOIABEIRAS,0,0,0,0,0,0,No
5759473,2.362182e+13,F,2016-06-01 13:00:36,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,No
5788052,9.947983e+12,F,2016-06-08 11:06:21,2016-06-08,4,MARIA ORTIZ,0,0,0,0,0,0,No
5758455,5.667344e+13,F,2016-06-01 10:45:50,2016-06-01,55,MARIA ORTIZ,0,0,0,0,0,0,No
5758779,8.973883e+11,M,2016-06-01 11:09:20,2016-06-01,5,MARIA ORTIZ,0,0,0,0,0,0,No
5786918,4.769462e+14,F,2016-06-08 09:04:18,2016-06-08,0,MARIA ORTIZ,0,0,0,0,0,0,No
5757656,9.433654e+13,F,2016-06-01 09:41:00,2016-06-01,59,MARIA ORTIZ,0,0,0,0,0,0,No
5786750,4.952968e+14,M,2016-06-08 08:50:51,2016-06-08,33,MARIA ORTIZ,0,0,0,0,0,0,No
5757587,2.362182e+13,F,2016-06-01 09:35:48,2016-06-01,64,SOLON BORGES,0,0,0,0,0,0,No
5786742,8.235996e+11,F,2016-06-08 08:50:20,2016-06-08,14,MARIA ORTIZ,0,0,0,0,0,0,No
5786368,9.876246e+13,F,2016-06-08 08:20:01,2016-06-08,41,MARIA ORTIZ,0,0,0,0,0,0,No
5785964,8.674778e+13,M,2016-06-08 07:52:55,2016-06-08,2,ANTÃ”NIO HONÃ“RIO,0,0,0,0,0,0,No
5786567,2.695685e+12,F,2016-06-08 08:35:31,2016-06-08,58,MARIA ORTIZ,0,0,0,0,0,0,No
5778621,6.456342e+14,M,2016-06-06 15:58:05,2016-06-08,33,MARIA ORTIZ,0,1,0,0,0,0,Yes
5780205,6.923772e+13,F,2016-06-07 07:45:16,2016-06-08,37,MARIA ORTIZ,0,0,0,0,0,0,Yes
5780122,5.574942e+12,F,2016-06-07 07:38:34,2016-06-07,19,MARIA ORTIZ,0,0,0,0,0,0,No
5630375,7.263315e+13,F,2016-04-27 15:15:06,2016-06-07,50,MARIA ORTIZ,0,0,0,0,0,1,No
5630447,6.542388e+13,F,2016-04-27 15:23:14,2016-06-07,22,MARIA ORTIZ,0,0,0,0,0,1,No
5650534,9.969977e+14,F,2016-05-03 07:51:47,2016-06-07,42,MARIA ORTIZ,0,0,0,0,0,1,No
5651072,3.635534e+13,F,2016-05-03 08:23:40,2016-06-07,53,MARIA ORTIZ,0,0,0,0,0,1,No
5651768,2.572134e+12,F,2016-05-03 09:15:35,2016-06-07,56,MARIA ORTIZ,0,0,0,0,0,1,No
5650093,3.596266e+12,F,2016-05-03 07:27:33,2016-06-07,51,MARIA ORTIZ,0,0,0,0,0,1,No
5630692,1.557663e+13,F,2016-04-27 16:03:52,2016-06-07,21,MARIA ORTIZ,0,0,0,0,0,1,No
5630323,9.213493e+13,F,2016-04-27 15:09:23,2016-06-07,38,MARIA ORTIZ,0,0,0,0,0,1,No
5629448,3.775115e+14,F,2016-04-27 13:30:56,2016-06-07,54,MARIA ORTIZ,0,0,0,0,0,1,No

In [21]:
# Copy df_import to df_clean
df_clean = df_import.copy()

## Exploring Data

In [22]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110527 entries, 0 to 110526
Data columns (total 14 columns):
Patient_ID          110527 non-null float64
Appointment_ID      110527 non-null int64
Gender              110527 non-null object
Scheduled_Date      110527 non-null datetime64[ns]
Appointment_Date    110527 non-null datetime64[ns]
Age                 110527 non-null int64
Neighborhood        110527 non-null object
Welfare             110527 non-null int64
Hypertension        110527 non-null int64
Diabetes            110527 non-null int64
Alcoholism          110527 non-null int64
Disability          110527 non-null int64
SMS_sent            110527 non-null int64
No_show             110527 non-null object
dtypes: datetime64[ns](2), float64(1), int64(8), object(3)
memory usage: 11.8+ MB