In [1]:
# package imports
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

In [2]:
# import pickle file
#df_patients = pd.read_pickle('../data/interim/patients_df.pickle')
df_appointments = pd.read_pickle('../data/interim/appointments_df.pickle')
df_clean = pd.read_pickle('../data/interim/clean_df.pickle')

In [3]:
df_clean.set_index('Appointment_ID', inplace=True)

In [4]:
df_model = df_appointments.join(df_clean, rsuffix='_clean')

In [5]:
drop_columns = ['Patient_ID_clean',
                'Gender_clean',
                'Scheduled_Date_clean',
                'Appointment_Date_clean',
                'SMS_sent_clean',
                'No_show_clean',
                'Neighborhood']
df_model.drop(columns=drop_columns, inplace=True)

In [6]:
df_model['days_diff'] = df_model.date_diff.dt.days

In [7]:
df_model = df_model.join(pd.get_dummies(df_model.Appointment_Date.dt.dayofweek))

In [8]:
df_model.columns = ['Patient_ID',
                    'Gender',
                    'Scheduled_Date',
                    'Appointment_Date',
                    'SMS_sent',
                    'No_show',
                    'date_diff',
                    'Age',
                    'Welfare',
                    'Hypertension',
                    'Diabetes',
                    'Alcoholism',
                    'Disability',
                    'days_diff',
                    'Mon',
                    'Tue',
                    'Wed',
                    'Thu',
                    'Fri',
                    'Sat']

In [9]:
df_model.columns

Index(['Patient_ID', 'Gender', 'Scheduled_Date', 'Appointment_Date',
       'SMS_sent', 'No_show', 'date_diff', 'Age', 'Welfare', 'Hypertension',
       'Diabetes', 'Alcoholism', 'Disability', 'days_diff', 'Mon', 'Tue',
       'Wed', 'Thu', 'Fri', 'Sat'],
      dtype='object')

In [10]:
unneeded_columns = ['Patient_ID',
                    'Scheduled_Date',
                    'Appointment_Date',
                    'No_show',
                    'date_diff',
                    'Gender']

In [11]:
# Need to produce arrays for the features and the response variable
y = df_model['No_show'].values
x = df_model.drop(columns=unneeded_columns).values

# Logistic Regression

In [ ]:
# Create training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4, random_state=42)

# Create the classifier: logreg
logreg = LogisticRegression()

# Fit the classifier to the training data
logreg.fit(x_train, y_train)

# Predict the labels of the test set: y_pred
y_pred = logreg.predict(x_test)

# Compute and print the confusion matrix and classification report
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

In [ ]:
for i in [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]:
    print(df_model.drop(columns=unneeded_columns).columns.values[i])
    print(logreg.coef_[i])

In [ ]:
tn, fp, fn, tp = confusion_matrix([0, 1, 0, 1], [1, 1, 1, 0]).ravel()

# Random Forest

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [19]:
# Create training and test sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4, random_state=42)


rf = RandomForestClassifier(n_estimators=100, oob_score=True, random_state=123456)
rf.fit(x_train, y_train)

predicted = rf.predict(x_test)
accuracy = accuracy_score(y_test, predicted)

print(rf.oob_score)
print(accuracy)

True
0.7601728076722988

In [22]:
# Compute and print the confusion matrix and classification report
print(confusion_matrix(y_test, predicted))
print(classification_report(y_test, predicted))

[[31619  3750]
 [ 6853  1989]]
             precision    recall  f1-score   support

         No       0.82      0.89      0.86     35369
        Yes       0.35      0.22      0.27      8842

avg / total       0.73      0.76      0.74     44211

In [27]:
1989/(6853+1989)

0.22494910653698258

# Random Forest/Grid Search

Source: https://www.fabienplisson.com/random-forest-and-grid-search/

In [15]:
# Part 1

seed = 123
 
# RFC with fixed hyperparameters max_depth, max_features and min_samples_leaf
rfc = RandomForestClassifier(n_jobs=-1, oob_score = True, max_depth=10, max_features='sqrt', min_samples_leaf = 1) 

# Range of `n_estimators` values to explore.
n_estim = filter(lambda x: x % 2 == 0, list(range(10,100)))

cv_scores = []

for i in n_estim:
    rfc.set_params(n_estimators=i)
    kfold = model_selection.KFold(n_splits=10, random_state=seed)
    scores = model_selection.cross_val_score(rfc, x_train, y_train, cv=kfold, scoring='accuracy')
    cv_scores.append(scores.mean()*100)
    
optimal_n_estim = n_estim[cv_scores.index(max(cv_scores))]
print("The optimal number of estimators is %d with %0.1f%%" % (optimal_n_estim, cv_scores[optimal_n_estim]))

plt.plot(n_estim, cv_scores)
plt.xlabel('Number of Estimators')
plt.ylabel('Train Accuracy')
plt.show()

NameError: name 'model_selection' is not defined

In [31]:
# Part 2

from sklearn.grid_search import GridSearchCV

rfc = RandomForestClassifier(n_jobs=-1) 

# Use a grid over parameters of interest
param_grid = { 
           "n_estimators" : [9, 25, 63],
           "max_depth" : [1, 10, 30],
           "min_samples_leaf" : [1, 5, 10]}

CV_rfc = GridSearchCV(estimator=rfc, param_grid=param_grid, cv= 2)
CV_rfc.fit(x_train, y_train)
print(CV_rfc.best_params_)

{'max_depth': 10, 'min_samples_leaf': 1, 'n_estimators': 63}

In [37]:
cv_predicted = CV_rfc.predict(x_test)

In [39]:
print(confusion_matrix(y_test, cv_predicted))
print(classification_report(y_test, cv_predicted))

[[35350    19]
 [ 8798    44]]
             precision    recall  f1-score   support

         No       0.80      1.00      0.89     35369
        Yes       0.70      0.00      0.01      8842

avg / total       0.78      0.80      0.71     44211

In [41]:
importances = rf.feature_importances_

In [48]:
len(importances)

14

In [51]:
df_model

,Patient_ID,Gender,Scheduled_Date,Appointment_Date,SMS_sent,No_show,date_diff,Age,Welfare,Hypertension,Diabetes,Alcoholism,Disability,days_diff,Mon,Tue,Wed,Thu,Fri,Sat
Appointment_ID,,,,,,,,,,,,,,,,,,,,
5642903,2.987250e+13,F,2016-04-29 18:38:08,2016-04-29,0,No,0 days,62,0,1,0,0,0,0,0,0,0,0,1,0
5642503,5.589978e+14,M,2016-04-29 16:08:27,2016-04-29,0,No,0 days,56,0,0,0,0,0,0,0,0,0,0,1,0
5642549,4.262962e+12,F,2016-04-29 16:19:04,2016-04-29,0,No,0 days,62,0,0,0,0,0,0,0,0,0,0,1,0
5642828,8.679512e+11,F,2016-04-29 17:29:31,2016-04-29,0,No,0 days,8,0,0,0,0,0,0,0,0,0,0,1,0
5642494,8.841186e+12,F,2016-04-29 16:07:23,2016-04-29,0,No,0 days,56,0,1,1,0,0,0,0,0,0,0,1,0
5626772,9.598513e+13,F,2016-04-27 08:36:51,2016-04-29,0,No,2 days,76,0,1,0,0,0,2,0,0,0,0,1,0
5630279,7.336882e+14,F,2016-04-27 15:05:12,2016-04-29,0,Yes,2 days,23,0,0,0,0,0,2,0,0,0,0,1,0
5630575,3.449833e+12,F,2016-04-27 15:39:58,2016-04-29,0,Yes,2 days,39,0,0,0,0,0,2,0,0,0,0,1,0
5638447,5.639473e+13,F,2016-04-29 08:02:16,2016-04-29,0,No,0 days,21,0,0,0,0,0,0,0,0,0,0,1,0
5629123,7.812456e+13,F,2016-04-27 12:48:25,2016-04-29,0,No,2 days,19,0,0,0,0,0,2,0,0,0,0,1,0
5630213,7.345362e+14,F,2016-04-27 14:58:11,2016-04-29,0,No,2 days,30,0,0,0,0,0,2,0,0,0,0,1,0
5620163,7.542951e+12,M,2016-04-26 08:44:12,2016-04-29,1,Yes,3 days,29,0,0,0,0,0,3,0,0,0,0,1,0
5634718,5.666548e+14,F,2016-04-28 11:33:51,2016-04-29,0,No,1 days,22,1,0,0,0,0,1,0,0,0,0,1,0
5636249,9.113946e+14,M,2016-04-28 14:52:07,2016-04-29,0,No,1 days,28,0,0,0,0,0,1,0,0,0,0,1,0
5633951,9.988472e+13,F,2016-04-28 10:06:24,2016-04-29,0,No,1 days,54,0,0,0,0,0,1,0,0,0,0,1,0
5620206,9.994839e+10,F,2016-04-26 08:47:27,2016-04-29,1,No,3 days,15,0,0,0,0,0,3,0,0,0,0,1,0
5633121,8.457439e+13,M,2016-04-28 08:51:47,2016-04-29,0,No,1 days,50,0,0,0,0,0,1,0,0,0,0,1,0
5633460,1.479497e+13,F,2016-04-28 09:28:57,2016-04-29,0,Yes,1 days,40,1,0,0,0,0,1,0,0,0,0,1,0
5621836,1.713538e+13,F,2016-04-26 10:54:18,2016-04-29,1,No,3 days,30,1,0,0,0,0,3,0,0,0,0,1,0
5640433,7.223289e+12,F,2016-04-29 10:43:14,2016-04-29,0,No,0 days,46,0,0,0,0,0,0,0,0,0,0,1,0
5626083,6.222575e+14,F,2016-04-27 07:51:14,2016-04-29,0,Yes,2 days,30,0,0,0,0,0,2,0,0,0,0,1,0
5628338,1.215484e+13,F,2016-04-27 10:50:45,2016-04-29,0,Yes,2 days,4,0,0,0,0,0,2,0,0,0,0,1,0
5616091,8.632298e+14,M,2016-04-25 13:29:16,2016-04-29,1,Yes,4 days,13,0,0,0,0,0,4,0,0,0,0,1,0
5634142,2.137540e+14,F,2016-04-28 10:27:05,2016-04-29,0,No,1 days,46,0,0,0,0,0,1,0,0,0,0,1,0
5641780,8.734858e+12,F,2016-04-29 14:19:19,2016-04-29,0,No,0 days,65,0,0,0,0,0,0,0,0,0,0,1,0
5624020,5.819370e+12,M,2016-04-26 15:04:17,2016-04-29,1,No,3 days,46,0,1,0,0,0,3,0,0,0,0,1,0
5641781,2.578785e+10,F,2016-04-29 14:19:42,2016-04-29,0,No,0 days,45,0,1,0,0,0,0,0,0,0,0,1,0
5628345,1.215484e+13,F,2016-04-27 10:51:45,2016-04-29,0,No,2 days,4,0,0,0,0,0,2,0,0,0,0,1,0
5642400,5.926172e+12,M,2016-04-29 15:48:02,2016-04-29,0,No,0 days,51,0,0,0,0,0,0,0,0,0,0,1,0
5642186,1.225776e+12,F,2016-04-29 15:16:29,2016-04-29,0,No,0 days,32,0,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5757745,7.935892e+14,M,2016-06-01 09:46:33,2016-06-01,0,No,0 days,76,0,0,0,0,0,0,0,0,1,0,0,0
5787655,9.433654e+13,F,2016-06-08 10:21:14,2016-06-08,0,No,0 days,59,0,0,0,0,0,0,0,0,1,0,0,0
5757697,8.219692e+14,F,2016-06-01 09:42:56,2016-06-01,0,No,0 days,66,0,1,1,0,0,0,0,0,1,0,0,0
5787233,4.434384e+14,F,2016-06-08 09:35:13,2016-06-08,0,No,0 days,59,0,0,0,0,0,0,0,0,1,0,0,0
5758133,4.544252e+11,M,2016-06-01 10:19:12,2016-06-01,0,No,0 days,44,0,0,0,0,0,0,0,0,1,0,0,0
5787937,7.316229e+14,F,2016-06-08 10:50:42,2016-06-08,0,No,0 days,22,0,0,0,0,0,0,0,0,1,0,0,0
5759473,2.362182e+13,F,2016-06-01 13:00:36,2016-06-01,0,No,0 days,64,0,0,0,0,0,0,0,0,1,0,0,0
5788052,9.947983e+12,F,2016-06-08 11:06:21,2016-06-08,0,No,0 days,4,0,0,0,0,0,0,0,0,1,0,0,0
5758455,5.667344e+13,F,2016-06-01 10:45:50,2016-06-01,0,No,0 days,55,0,0,0,0,0,0,0,0,1,0,0,0
5758779,8.973883e+11,M,2016-06-01 11:09:20,2016-06-01,0,No,0 days,5,0,0,0,0,0,0,0,0,1,0,0,0
5786918,4.769462e+14,F,2016-06-08 09:04:18,2016-06-08,0,No,0 days,0,0,0,0,0,0,0,0,0,1,0,0,0
5757656,9.433654e+13,F,2016-06-01 09:41:00,2016-06-01,0,No,0 days,59,0,0,0,0,0,0,0,0,1,0,0,0
5786750,4.952968e+14,M,2016-06-08 08:50:51,2016-06-08,0,No,0 days,33,0,0,0,0,0,0,0,0,1,0,0,0
5757587,2.362182e+13,F,2016-06-01 09:35:48,2016-06-01,0,No,0 days,64,0,0,0,0,0,0,0,0,1,0,0,0
5786742,8.235996e+11,F,2016-06-08 08:50:20,2016-06-08,0,No,0 days,14,0,0,0,0,0,0,0,0,1,0,0,0
5786368,9.876246e+13,F,2016-06-08 08:20:01,2016-06-08,0,No,0 days,41,0,0,0,0,0,0,0,0,1,0,0,0
5785964,8.674778e+13,M,2016-06-08 07:52:55,2016-06-08,0,No,0 days,2,0,0,0,0,0,0,0,0,1,0,0,0
5786567,2.695685e+12,F,2016-06-08 08:35:31,2016-06-08,0,No,0 days,58,0,0,0,0,0,0,0,0,1,0,0,0
5778621,6.456342e+14,M,2016-06-06 15:58:05,2016-06-08,0,Yes,2 days,33,0,1,0,0,0,2,0,0,1,0,0,0
5780205,6.923772e+13,F,2016-06-07 07:45:16,2016-06-08,0,Yes,1 days,37,0,0,0,0,0,1,0,0,1,0,0,0
5780122,5.574942e+12,F,2016-06-07 07:38:34,2016-06-07,0,No,0 days,19,0,0,0,0,0,0,0,1,0,0,0,0
5630375,7.263315e+13,F,2016-04-27 15:15:06,2016-06-07,1,No,41 days,50,0,0,0,0,0,41,0,1,0,0,0,0
5630447,6.542388e+13,F,2016-04-27 15:23:14,2016-06-07,1,No,41 days,22,0,0,0,0,0,41,0,1,0,0,0,0
5650534,9.969977e+14,F,2016-05-03 07:51:47,2016-06-07,1,No,35 days,42,0,0,0,0,0,35,0,1,0,0,0,0
5651072,3.635534e+13,F,2016-05-03 08:23:40,2016-06-07,1,No,35 days,53,0,0,0,0,0,35,0,1,0,0,0,0
5651768,2.572134e+12,F,2016-05-03 09:15:35,2016-06-07,1,No,35 days,56,0,0,0,0,0,35,0,1,0,0,0,0
5650093,3.596266e+12,F,2016-05-03 07:27:33,2016-06-07,1,No,35 days,51,0,0,0,0,0,35,0,1,0,0,0,0
5630692,1.557663e+13,F,2016-04-27 16:03:52,2016-06-07,1,No,41 days,21,0,0,0,0,0,41,0,1,0,0,0,0
5630323,9.213493e+13,F,2016-04-27 15:09:23,2016-06-07,1,No,41 days,38,0,0,0,0,0,41,0,1,0,0,0,0
5629448,3.775115e+14,F,2016-04-27 13:30:56,2016-06-07,1,No,41 days,54,0,0,0,0,0,41,0,1,0,0,0,0

In [53]:
from tabulate import tabulate

ModuleNotFoundError: No module named 'tabulate'

In [52]:
headers = ["name", "score"]
values = sorted(zip(df_model.columns, rf.feature_importances_), key=lambda x: x[1] * -1)
print(tabulate(values, headers, tablefmt="plain"))

NameError: name 'tabulate' is not defined

In [ ]:
# Part 3

seed = 123

# Optimized RF classifier
rfc = RandomForestClassifier(n_estimators=36, max_depth=5, max_features='sqrt', min_samples_leaf = 4)

kfold = model_selection.KFold(n_splits=10, random_state=seed)

# fit the model with training set
scores = model_selection.cross_val_score(rfc, x_train, y_train, cv=kfold, scoring='accuracy')
cv_scores.append(scores.mean()*100)
print("Train accuracy %0.2f (+/- %0.2f)" % (scores.mean()*100, scores.std()*100))

# predict on testing set
preds = model_selection.cross_val_predict(rfc, x_test, y_test, cv=kfold)
cv_preds.append(metrics.accuracy_score(y_test, preds)*100)
print("Test accuracy %0.2f" % (100*metrics.accuracy_score(y_test, preds)))